body
{
    background-color: rgb(103, 237, 134);
}
.heading-text
{
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:rgb(27, 108, 32);
    font-weight: 500;
    font-size: 300%;
    margin: 4% auto 2% auto;
}
.lorem-text
{
   color:rgb(101, 70, 10);
   text-align: center;
   font-family: 'Montserrat Alternates', sans-serif;

}

.text-container{
   color:brown;
   width:35vw;
   height:40vh;
   margin: 0 auto;
}
.generate
{
border-radius: 4px;
background: linear-gradient(to right, #448748, #2a82ab) !important;
border: none;
color: #FFFFFF;
text-align: center;
text-transform: uppercase;
font-size: 22px;
padding: 20px;
width: 25vw;
cursor: pointer;
margin: 5px;
}
.buttons
{
   text-align: center;
}
.copy-content
{
   width:10vw;
   height:8vh;
}
.content{
   width:35vw;
   height:40vh;
   overflow-y: scroll;
   resize: none;
   overflow-x: hidden;
   border: none;
   background-color: rgb(207, 233, 101);
   border-radius: 5px;
}
.thanks
{
   text-align: center;
}

.thanks-giving
{
   margin-top: 10vh;
}