*{
    margin: 0;
    padding: 0;
}
body{
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.container{
    width: 90%;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 100vh;
    display: flex;
    margin: auto;
}
#hex-colors{
    width:100%;
    text-align: center;
}
#hex-colors h1,h2{
    text-transform: uppercase;
    font-size: 2rem;
    -moz-animation: colorchange  5s infinite alternate;
    -o-animation: colorchange 5s infinite alternate;
    -ms-animation: colorchange 5s infinite alternate;
    animation: colorchange 5s infinite alternate;
}
#hex-colors h2{
    text-transform: lowercase;
    margin-top: 15%;
}
@-moz-keyframes colorchange{
    0%{
        color: #ffffff;
    }
    20%{
        color: #cccccc;
    }
    40%{
        color: #aaaaaa;
    }
    80%{
        color: #eeeeee;
    }
    100%{
        color: #dddddd;
    }
}
@-o-keyframes colorchange{
    0%{
        color: #ffffff;
    }
    20%{
        color: #cccccc;
    }
    40%{
        color: #aaaaaa;
    }
    80%{
        color: #eeeeee;
    }
    100%{
        color: #dddddd;
    }
}
@-ms-keyframes colorchange{
    0%{
        color: #ffffff;
    }
    20%{
        color: #cccccc;
    }
    40%{
        color: #aaaaaa;
    }
    80%{
        color: #eeeeee;
    }
    100%{
        color: #dddddd;
    }
}
@keyframes colorchange{
    0%{
        color: #ffffff;
    }
    20%{
        color: #cccccc;
    }
    40%{
        color: #aaaaaa;
    }
    80%{
        color: #eeeeee;
    }
    100%{
        color: #dddddd;
    }
}
@media(max-width:480px){
    #hex-colors h1{font-size: 1.5rem;}
    
    #hex-colors h2{font-size: 1.5rem;}
  }
  .btn{
    border-radius: 5px;
    box-shadow: 0 0  0 #fdaced;
    color: white;
    background-color: rgb(207, 120, 120);
    margin-top: 8%;
    padding: 5px;
    font-size: 1rem;
  }
  .btn:hover{
    background-color: #fdaced;
  }