@import "/src/assets/scss/variables";
.center-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.center {
  display: flex;
  justify-content: center;
}

.center-between {
  display: flex;
  justify-content: space-between;
}
