* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #fafafa;
}

main {
    display: flex;
    justify-content: center;
}

#left {
    margin: 32px 0px 0px -35px;
    display: flex;
}

#left .anim1 {
    position: absolute;
    margin-top: 29px;
    margin-left: 155px;
    width: 250px;
    height: 580px;
    opacity: 1;
    animation: anim1 4s linear 2s 1 forwards;
    animation-direction: normal;
}

@keyframes anim1 {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.33;
    }

    100% {
        opacity: 0;
    }
}

#left .anim2 {
    position: absolute;
    margin-top: 29px;
    margin-left: 155px;
    width: 250px;
    height: 580px;
    opacity: 1;
    animation: anim2 4s linear 8s 1 forwards;
}

@keyframes anim2 {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.33;
    }

    100% {
        opacity: 0;
    }
}

#left .anim3 {
    position: absolute;
    margin-top: 29px;
    margin-left: 155px;
    width: 250px;
    height: 580px;
    opacity: 1;
    animation: anim3 4s linear 12s 1 forwards;
}

@keyframes anim3 {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.33;
    }

    100% {
        opacity: 0;
    }
}

#left .anim4 {
    position: absolute;
    margin-top: 29px;
    margin-left: 155px;
    width: 250px;
    height: 580px;
    opacity: 0;
    animation: anim4 4s linear 16s 1 forwards;
}

@keyframes anim4 {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.33;
    }

    100% {
        opacity: 1;
    }
}

#right .up {
    width: 351px;
    height: 400px;
    border: 1px solid #dbdbdb;
    margin: 46px 0px 10px -10px;
    border-radius: 2px;
}

#right .up h1 {
    font-family: 'Grand Hotel', cursive;
    text-align: center;
    font-size: 50px;
    color: #2a2a2a;
    margin: 30px 0px;
    cursor: pointer;
}

#right .up input[type=email] {
    width: 250px;
    height: 35px;
    border: 1px solid #dbdbdb;
    border-radius: 4px;
    margin: 0px 46px;
    color: #2c2b2b;
    padding-left: 10px;
    font-size: 11.5px;
}

#right .up input[type=password] {
    width: 250px;
    height: 35px;
    border: 1px solid #dbdbdb;
    border-radius: 4px;
    margin-top: 5px;
    margin-left: 46px;
    color: #2c2b2b;
    padding-left: 10px;
    font-size: 11.5px;
}

#right .up p {
    position: absolute;
    margin: -32px 284px;
}

#right .up button {
    width: 262px;
    height: 30px;
    border-style: none;
    cursor: pointer;
    color: white;
    background-color: #0095f6;
    border-radius: 4px;
    margin: 20px 0px 20px 46px;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
}

#right .up .line {
    display: flex;
    color: #dbdbdb;
    justify-content: center;
    margin: 5px 5px 5px 8px;
}

.line hr {
    height: 0.5px;
    width: 130px;
    background-color: #d6d6d6;
    margin: 0px 37px;
    border: 0.5px solid white;
}

.line p {
    padding: 26px;
    color: #868585;
    font-size: 13px;
}

#right .up .link {
    text-align: center;
    margin: 35px 0px 10px 0px;
}

#right .up .link .first {
    display: block;
    text-decoration: none;
    color: #385185;
    padding-bottom: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    font-weight: 600;
}

#right .up .link .first img {
    width: 20px;
    position: absolute;
    margin: 0px -24px;
}

#right .up .link .second {
    text-decoration: none;
    color: #385185;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    font-weight: 600;
}

#right .down {
    width: 350px;
    height: 62px;
    border: 1px solid #dbdbdb;
    display: flex;
    border-radius: 2px;
    margin-left: -10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#right .down p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #0f0f0f;
    font-size: 14px;
}

#right .down a {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #0095f6;
    font-size: 14px;
    text-decoration: none;
    font-weight: 600;
    padding-left: 4px;
}

#right .store {
    width: 351px;
    height: 192px;
}

#right .store p {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #383636;
    font-size: 14px;
    padding: 18px 0px;
}

#right .store .app {
    display: flex;
    justify-content: center;
    align-items: center;
}

.app button {
    border-style: none;
    margin: 0px 5px;
    cursor: pointer;
}

.app img {
    width: 137px;
}

footer .s {
    display: none;
}

@media only screen and (max-width:810px) {
    footer .r {
        width: 810px;
    }
}

@media only screen and (max-width:428px) {
    main {
        display: block;
    }

    #left {
        margin: 32px 0px 0px -20px;
        display: flex;
    }

    #left .anim {
        width: 250px;
        height: 541px;
    }

    #right {
        margin-left: 48px;
    }

    footer .r {
        display: none;
    }

    footer .s {
        display: block;
        margin-left: 20px;
    }
}